In [100]:
#Finding repeating numbers
l = [2, 4, 10, 20, 5, 2, 20, 4]
list(set([x for x in l if l.count(x) > 1]))

[2, 4, 20]

_________________

In [101]:
# removing duplicates without using set
def Remove(duplicate):
    final_list = []
    for num in duplicate:
        if num not in final_list:
            final_list.append(num)
    return final_list

duplicate = [2, 4, 10, 20, 5, 2, 20, 4]
print(Remove(duplicate))

[2, 4, 10, 20, 5]

______________________

Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given  scores. Store them in a list and find the score of the runner-up.

In [93]:
list2 = [2, 3, 6, 6, 5, 6]

In [92]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    print (sorted(set(arr))[-2])

 5
 2 3 6 6 5

5

___________________

Given the names and grades for each student in a class of  students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

In [75]:
l = []
second_lowest_names = []
scores = set()

for _ in range(int(input())):
    name = input()
    score = float(input())
    l.append([name, score])
    scores.add(score)
        
second_lowest = sorted(scores)[1]

for name, score in l:
    if score == second_lowest:
        second_lowest_names.append(name)

for name in sorted(second_lowest_names):
    print(name, end='\n')

 3
 harry
 12
 berry
 13
 tim
 12

berry

___________________

In [17]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    
    print("{:.2f}".format(sum(student_marks[query_name])/len(student_marks[query_name])))

 2
 tim 10 20
 jack 10 20
 jack

15.00

___________________

In [ ]:
T = int(raw_input().strip())

L = []
for t in range(T):
    args = raw_input().strip().split(" ")
    if args[0] == "append":
        L.append(int(args[1]))
    elif args[0] == "insert":
        L.insert(int(args[1]), int(args[2]))
    elif args[0] == "remove":
        L.remove(int(args[1]))
    elif args[0] == "pop":
        L.pop()
    elif args[0] == "sort":
        L.sort()
    elif args[0] == "reverse":
        L.reverse()
    elif args[0] == "print":
        print L

 5
 insert 0 5
 insert 1 10
 insert 0 6
 print
 remove 6